{%- capture content -%}
  <div class="quick-view-modal-loading-indicator">
    {% render 'loader' %}
  </div>
{%- endcapture -%}
{% render 'quick-view-modal-base' with content: content, open: false %}
